<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="{% static 'img/Clapper.ico'%}">
    <!--
    
-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="..">
                <i class="fas fa-film mr-2"></i>
                Suggest Me a Movie
            </a>
        </div>
    </nav>


<section class="container forms">
            <div class="form login">
                <div class="form-content">
                    <header>Login</header>
                    <form action="../Login/Connect/" method="post">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="text" placeholder="Username" class="input" name="username" required=>
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Password" class="password" name="password" required=>
                            <i class='bx bx-hide eye-icon'></i>
                        </div>
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        <div class="form-link">
                            <a href="../Reset_password/" class="forgot-pass">Forgot password?</a>
                        </div>

                        <div class="field button-field">
                            <input type="submit" value="Login">
                        </div>
                    </form>

                    
                </div>

                <div class="line"></div>

                <div class="form-link">
                    <span>Don't have an account? <a href="#" class="link signup-link">Signup</a></span>
                </div>

            </div>

            <!-- Signup Form -->

            <div class="form signup">
                <div class="form-content">
                    <header>Signup</header>
                    <form action="../Login/" method="post">
                        {% csrf_token %}
                        <div class="field input-field">
                            <input type="text" placeholder="Username" class="input" name="username" required=>
                        </div>

                        <div class="field input-field">
                            <input type="email" placeholder="Email" class="input" name="email">
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Create password" class="password" name="password1" required=>
                        </div>

                        <div class="field input-field">
                            <input type="password" placeholder="Confirm password" class="password" name="password2" required=>
                            <i class='bx bx-hide eye-icon'></i>
                        </div>

                        <div class="field button-field">
                            <input type="submit" value="Signup">
                        </div>
                    </form>

                    
                </div>

                <div class="line"></div>

                <div class="form-link">
                    <span>Already have an account? <a href="#" class="link login-link">Login</a></span>
                </div>

            </div>
        </section>

        <!-- JavaScript -->
        <script src="{% static 'js/script.js'%}"></script>
<script src="{% static 'js/plugins.js'%}"></script>
<script>
    $(window).on("load", function() {
        $('body').addClass('loaded');
    });
</script>
</body>
</html>