<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrapmin.css'%}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
    <link rel="stylesheet" href="{% static 'css/style2.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Clapper.ico'%}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!--
    
-->
</head>
<body>
    <!-- Page Loader -->
    <div id="loader-wrapper">
        <div id="loader"></div>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="..">
                <i class="fas fa-film mr-2"></i>
                Suggest Me a Movie
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a class="nav-link">
                      <span>{{user.username}}</span>
                    </a>
                    {% else %}
                    <a class="nav-link nav-link-0 {{active4}}" href="../Login/">Login</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-1 {{active1}} " aria-current="page" href="../Popular/">Popular</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-2 {{active2}}" href="../Top_rated">Top Rated</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link nav-link-3 {{active3}}" href="../MyList/">My Favorites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-4 {{active4}}" href="../Suggestions/">Suggestions</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link nav-link-5 {{active5}}" href="../Contact/">Contact US</a>
                </li>

            </ul>
            </div>
        </div>
    </nav>

    
<div class="tm-hero d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="{% static 'img/Fest.jpg'%}">
    <form action="../searching" method="get" class="d-flex tm-search-form">
        {% csrf_token %}
        <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success tm-search-btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>

    {% block innerpart %}
    {% endblock %}

<footer class="tm-bg-gray pt-5 pb-3 tm-text-gray tm-footer">
    <div class="container-fluid tm-container-small">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">About SMM</h3>
                <p>Suggest Me a Movie is unprofitable website developed by EMSI engineering students in order to help you find similar movies to your favorite one.
                    With Love SMM's team
                </p>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <h3 class="tm-text-primary mb-4 tm-footer-title">Special Thanks To TMDB API</h3>
                <ul class="tm-footer-links pl-0">
                    <img src="{% static 'img/TMDB.svg'%}" alt="" />
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12 px-5 mb-5">
                <ul class="tm-social-links d-flex justify-content-end pl-0 mb-5">
                    <li class="mb-2"><a href="https://facebook.com"><i class="fab fa-facebook"></i></a></li>
                    <li class="mb-2"><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
                    <li class="mb-2"><a href="https://instagram.com"><i class="fab fa-instagram"></i></a></li>
                    <li class="mb-2"><a href="https://pinterest.com"><i class="fab fa-pinterest"></i></a></li>
                </ul>
                <a href="#" class="tm-text-gray text-right d-block mb-2">Terms of Use</a>
                <a href="#" class="tm-text-gray text-right d-block">Privacy Policy</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-7 col-12 px-5 mb-3">
                Copyright 2022 SMM Company. All rights reserved.
            </div>
            <div class="col-lg-4 col-md-5 col-12 px-5 text-right">
                Designed by <br> Hamza Zakaria Ilyass
            </div>
        </div>
    </div>
</footer>

<script src="{% static 'js/plugins.js'%}"></script>
<script>
    $(window).on("load", function() {
        $('body').addClass('loaded');
    });
</script>
</body>
</html>