<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SMM</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css'%}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/Clapper.ico'%}">
    <style>
        body {
          background-color: Black;
        }
        </style>
    <!--
    
-->
</head>
<body>
    <script>
        setTimeout(function(){window.history.go({{back}});}, 0);
    </script>
</body>
</html>